.custom-mt-7 {
  margin-top: 7rem;
  /* Adjust the value as needed */
}

.mobile_image {
  width: 150px;
  height: 150px;
  margin-right: 5px;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .mobile_image {
    width: 80px;
    height: 80px;
    margin-right: 3px;
    border-radius: 15px;
  }
  .main_image{
    width: 100%;
  }
}