.background-container {
    background-image: url('../assests/micpic1.jpg');/* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Adjust opacity as needed */
  }